In [1]:
import numpy as np
import pandas as pd

In [2]:
def isfloat(num):
    try:
        float(num)
        return True
    except ValueError:
        return False


def convertToNumber(strVal):
    lowerStrVal = strVal.lower()
    print("original value", lowerStrVal)
    if lowerStrVal.endswith("k"):
        return int(float(strVal[0:len(strVal)-1]) * 1000)
    elif lowerStrVal.endswith("/month"):
        return int(float(strVal[0:len(strVal)-6]) * 12)
    elif lowerStrVal.endswith("/year"):
        return int(strVal[0:len(strVal)-5])
    elif isfloat(lowerStrVal):
        return int(float(lowerStrVal))
    else:
        return 0

def standardizeString(val):
    strVal = str(val)
    return strVal.title()

In [3]:
print(standardizeString(3.925))
print(standardizeString("925.3y"))
print(standardizeString("sdfdfs dsSFs"))
print(standardizeString("ABC dsfs"))
print(standardizeString("bcA A"))

3.925
925.3Y
Sdfdfs Dssfs
Abc Dsfs
Bca A

In [4]:
salaryInfo = pd.read_csv(
    './salary_infomation.csv', encoding="ISO-8859-1").head(6)

print(salaryInfo.to_string())

for index, row in salaryInfo.iterrows():
    salaryInfo.at[index, 'Campany'] = standardizeString(row['Campany'])
    # row['Campany'] = standardizeString(row['Campany'])
    salaryInfo.at[index, 'job'] = standardizeString(row['job'])
    salaryInfo.at[index, 'Area'] = standardizeString(row['Area'])
    # print(row['education'])
    # print(row)
    salaryInfo.at[index, 'education'] = standardizeString(row['education'])

print(salaryInfo.to_string())

    Campany        offer time                            job                Area    Base  equity Bonus Sign-on full time/intern title/level education  new grad working experience Return
0    google  2021 4th quarter              Software Engineer  Great Seattle Area    160k    300k     0     40k        full time    IC & IC3        MS     False              2.5 y    NaN
1    Google  2021 4th quarter              software Engineer  Great Seattle Area    154k    181k   15%     15k             full  IC& SDE II        MS     False                 3y    NaN
2     Adobe  2021 4th quarter                   Data Science            Bay Area    160k  187500   15%     16k             full   IC &DS II        MS     False               1.3y    NaN
3      Wish  2021 4th quarter              Software Engineer  Great Seattle Area    236K    750k     0     70k             full     IC & L4        MS     False                 4y    NaN
4  FaceBook  2021 4th quarter  Machine Learning Engineering   Great Seattle Area    168k    330k   10%     75k             full      IC& E4       PHD      True                 0y    NaN
5    Oracle  2021 4th quarter              Software Engineer            Bay Area  163.5k    420k     0     48k             full    IC & IC3        MS     False                 2y    NaN
    Campany        offer time                            job                Area    Base  equity Bonus Sign-on full time/intern title/level education  new grad working experience Return
0    Google  2021 4th quarter              Software Engineer  Great Seattle Area    160k    300k     0     40k        full time    IC & IC3        Ms     False              2.5 y    NaN
1    Google  2021 4th quarter              Software Engineer  Great Seattle Area    154k    181k   15%     15k             full  IC& SDE II        Ms     False                 3y    NaN
2     Adobe  2021 4th quarter                   Data Science            Bay Area    160k  187500   15%     16k             full   IC &DS II        Ms     False               1.3y    NaN
3      Wish  2021 4th quarter              Software Engineer  Great Seattle Area    236K    750k     0     70k             full     IC & L4        Ms     False                 4y    NaN
4  Facebook  2021 4th quarter  Machine Learning Engineering   Great Seattle Area    168k    330k   10%     75k             full      IC& E4       Phd      True                 0y    NaN
5    Oracle  2021 4th quarter              Software Engineer            Bay Area  163.5k    420k     0     48k             full    IC & IC3        Ms     False                 2y    NaN

In [5]:
WorldRecords = pd.read_csv(
    './WorldRecords_1.csv', encoding="ISO-8859-1")
# print(WorldRecords.to_string())

In [6]:
dfTimeEvent = WorldRecords[(WorldRecords["Type"] == "time")]
# get top 5 items of this dateframe
dfTimeEvent = dfTimeEvent.head(5)
# print("dfTimeEvent", dfTimeEvent)

for index, row in dfTimeEvent.iterrows():
    record = row['Record']
    res = convertToNumber(str(record))
    print('converted value', res)
    print()

original value 100.6k
converted value 100600

original value 1003.35/month
converted value 12040

original value 102202/year
converted value 102202

original value 9.95
converted value 9

original value 993
converted value 993